.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(245, 245, 245);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 23px;
  margin: 24px 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 40px;
  max-width: 300px;
  display: flex;
  align-items: center;
  display: flex;
}

.search-box {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgb(0, 0, 0, 0.05);
  width: 0;
}

.search-box::placeholder {
  font-size: 16px;
}

.search-btn {
  background-color: rgb(240, 240, 240);
  height: 40px;
  width: 67px;
  border: 1px solid rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}

.search-btn .tooltip,
.voice-search-btn .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  color: white;
  background-color: gray;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-btn:hover .tooltip,
.voice-search-btn:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}

.search-btn,
.voice-search-btn,
.upload-icon-container,
.youtube-apps-container,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.voice-search-btn {
  height: 40px;
  width: 40px;
  background-color: rgb(245, 245, 245);
  border-radius: 17px;
  border: none;
}

.voice-search-icon {
  height: 23px;
}

.right-section {
  margin-right: 20px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgb(200, 0, 0);
  color: whitesmoke;
  font-size: 9px;
  padding: 2px;
  border-radius: 9px;
}

.my-profile-icon {
  height: 24px;
  border-radius: 12px;
}
